#folderPaneBox tree {
  background-color: var(--folder-pane-background-color);
  color: var(--folder-pane-text-color) !important;
}

.spaces-toolbar-button {
  transition: none;
}

.spaces-toolbar-button.current,
.spaces-toolbar-button.current:hover,
#spacesAccentPlaceholder {
  border-left-color: var(--spaces-button-active-border-color);
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: -2px;
}

#threadPane #quick-filter-bar,
#threadPane #threadPaneHeaderBar {
  background-color: var(--toolbar-bgcolor);
  border: none;
}

/* mm variables are overridden by Thunderbird in dark mode, so we have to override *that* */
/* TODO: Find an alternative to this ASAP */
calendar-minimonth {
  --mmMainBackground: var(--cmmMainBackground) !important;
  --mmMainBorderColor: var(--cmmMainBorderColor) !important;
  --mmMainColor: var(--cmmMainColor) !important;
  --mmDayWeekColor: var(--cmmDayWeekColor) !important;
  --mmDayTodayBackground: var(--cmmDayTodayBackground) !important;
  --mmDaySelectedColor: var(--cmmDaySelectedColor) !important;
  --mmDaySelectedTodayBackground: var(--cmmDaySelectedTodayBackground) !important;
  --mmDaySelectedTodayBorderColor: var(--cmmDaySelectedTodayBorderColor) !important;
}

/* mm uses some other type of button */
#calMinimonth .minimonth-header {
  --mmBoxBackground: var(--cmmBoxBackground) !important;
  fill: color-mix(in srgb, currentColor 20%, var(--cmmBoxColor));
  stroke: var(--cmmBoxColor);
}

#calMinimonth .minimonth-nav-item {
  border-color: transparent;
}

#messagePane #messagepanebox {
  --layout-background-1: var(--c-message-pane-box-background) !important;
}

.tabmail-tab:hover .tab-line:not([selected="true"]) {
  background-color: var(--c-tab-line-hover-background);
}

/* >= 128.* */

/* Tabs toolbar has hardcoded background colors in 128.* */
#tabs-toolbar {
  background-image: none !important;
  background-color: #121e26;
}

#tabs-toolbar .tabmail-tab:hover .tab-background:not([selected="true"]) {
  background-color: transparent;
}

/* For improved contrast, we prefer check buttons to use the gold accent color instead of the lightblue one as the indicator */
.button.check-button {
  --button-primary-background-color: var(
    --cobalt-button-indicator-active-background-color
  );
  --button-primary-border-color: var(
    --cobalt-button-indicator-active-border-color
  );
}

/* >= TB 138  */
/* This one enable button has hard-coded values */
#calendar-list > li > button.calendar-enable-button {
  background: var(--button-primary-background-color) !important;
}

#calendar-list > li > button.calendar-enable-button:hover {
  opacity: 0.8;
}

/* the default variable doesn't fit here, we have to creat a custom one */
.day-column-selected .day-column-heading {
  color: var(--cobalt-calendar-selected-column-color) !important;
}
.day-column-today .day-column-heading {
  color: var(--cobalt-calendar-today-column-color) !important;
}

calendar-day-label[relation="today"] {
  color: var(--cobalt-calendar-today-column-color) !important;
}